<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<servlet>
		<servlet-name>FileUploadHandler</servlet-name>
		<servlet-class>org.gedantic.web.servlet.FileUploadHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileUploadHandler</servlet-name>
		<url-pattern>/uploadGedcom</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Tiles Dispatch Servlet</servlet-name>
		<servlet-class>org.apache.tiles.web.util.TilesDispatchServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tiles Dispatch Servlet</servlet-name>
		<url-pattern>*.tiles</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AnalysisServlet</servlet-name>
		<servlet-class>org.gedantic.web.servlet.AnalyzerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AnalysisServlet</servlet-name>
		<url-pattern>/analyze</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>NeedGedcomInSessionFilter</filter-name>
		<filter-class>org.gedantic.web.filter.CheckIfGedcomInSessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>NeedGedcomInSessionFilter</filter-name>
		<url-pattern>*.tiles</url-pattern>
	</filter-mapping>



	<welcome-file-list>
		<welcome-file>upload.tiles</welcome-file>
	</welcome-file-list>



	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<listener>
		<listener-class>org.apache.tiles.extras.complete.CompleteAutoloadTilesListener</listener-class>
		<listener-class>org.gedantic.web.listener.ApplicationSetupListener</listener-class>
	</listener>

	<display-name>gedantic</display-name>


</web-app>
